<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/head %>
</head>
<body class='container-fluid'>
  <header>
    <ol class="breadcrumb">
      <a class="breadcrumb-item active" href="/">Tables</a>
    </ol>
  </header>
  <main>
    <ul class="list-group">
      <% for(var i = 0; i < data.length; i++) { %>
        <li class="list-group-item">
          <a href='/tables/<%= data[i].TableName %>'>
            <%= data[i].TableName %>
          </a>
          <a href="/" data-table-name="<%= data[i].TableName %>" class="delete-table tag tag-danger tag-pill pull-xs-right" style="margin-left: 8px;">
            Delete
          </a>
          <span class="tag tag-default tag-pill pull-xs-right">
            <%= data[i].ItemCount %>
          </span>
        </li>
      <% } %>
    </ul>
    <div style="margin-top: 12px;">
      <a href='/create-table' class="btn btn-primary">
        Create table
      </a>
    </div>
  </main>
</body>
</html>
